:root {
  --white: rgb(255, 255, 255);
  --black: rgb(17, 17, 17);
  --lightBlue: rgb(25, 146, 212);
  --lightBlueLightOpacity: rgba(25, 146, 212, 0.807); 
  --goldenYellow: rgb(240, 180, 41);
  --lightGray: rgb(226, 232, 240);
  --darkGray: rgb(138, 138, 138);
  --brightYellow:rgb(250, 204, 21);
  --pink: rgb(253, 164, 175);
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header,
.main {
  grid-column: 2 / -1;
}

.nav {
  grid-row: 1 / span 2;
  background-color: var(--lightBlue);
  color: var(--white);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.avatar {
  width: 100%;
  height: 100%;
}

.avatar-container {
  width: 30px;
  height: 30px;
  background-color: var(--brightYellow);
  border-radius: 100px;
  padding: .5em;
}

.avatar-container-large {
  width: 60px;
  height: 60px;
}

.btn {
  background-color: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  border-radius: 100px;
  color: var(--white);
  padding: .5em 1.5em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .45px;
  font-size: .95rem;
}

.btn:focus,
.btn:hover {
  border: 2px solid var(--brightYellow);
  box-shadow: 2px var(--brightYellow);
  background-color: var(--brightYellow);
  color: var(--black);
}

/* header styling */
.header {
  background-color: var(--white);
  padding: 1.5em 2.5em;
}

.header-container-primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-container-primary__search {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.header-container-primary__search--input {
  border-radius: 50px;
  border: 2px solid var(--lightGray);
  background-color: var(--lightGray);
  padding: 0.5em 1em;
}

.header-container-primary__user-wrapper {
  margin-left: auto;
}

.header-container-primary__user {
  display: grid;
  grid-template-columns: 50px 70px 1fr;
  align-items: center;
  justify-content: end;
}

.header-container-primary__user--avatar {
  width: 30px;
  height: 30px;
}

.header-container-primary__user--name {
  font-weight: 700;
  letter-spacing: .5px;
}

.header-container-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.25em;
}

.header-container-secondary__user {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  gap: 15px;
}

.header-container-secondary__action {
  justify-self: end;
  align-self: center;
}

.header-container-secondary__user--avatar {
  width: 60px;
  height: 60px;
}

.header-container-secondary__user--welsome-msg {
  font-weight: bold;
  letter-spacing: .5px;
}

.header-container-secondary__user--welsome-msg-greeting {
  font-size: 0.85rem;
  display: block;
  margin-bottom: .7em;
}

.header-container-secondary__user--welsome-msg-user-name {
  font-size: 1.25rem;
}

.header-container-secondary__action-btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* header styling */


/* nav styling */

.nav-container {
  padding: 1.5em; /*45px*/
}

.nav-container__head {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.nav-container__icon {
  width: 35px;
}

.nav-container__h1 {
  font-size: 1.5rem;
  align-self: center;
}

.nav-container__ul--primary {
  margin: 2em 0;
}

.nav-container__ul--primary__list-item,
.nav-container__ul--secondary__list-item {
  font-weight: 500;
  font-size: 1.1rem;
  padding: .5em 0;
}

.nav-container__ul--primary__list-item__link,
.nav-container__ul--secondary__list-item__link {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.nav-container__ul--primary__list-item__link:focus,
.nav-container__ul--secondary__list-item__link:focus,
.nav-container__ul--primary__list-item__link:hover,
.nav-container__ul--secondary__list-item__link:hover {
  color: var(--black);
}

/* nav styling */

/* main styling */

.main {
  background-color: var(--lightGray);
  padding: 2.5em 1.9em 0 1.25em;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.main-content-container__h2,
.main-sidebar-primary-announcement__h4,
.main-sidebar-secondary__h4 {
  text-transform: capitalize;
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.main-content-container__project-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
  gap: 20px;
}

.main-content-container__project-card {
  background-color: var(--white);
  border-radius: 8px;
  padding: 2em 3em 2em 1.5em;
  border-left: 8px solid var(--goldenYellow);
}

.main-content-container__project-card--h3 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: .5em;
}

.main-content-container__project-card--para {
  color: var(--darkGray);
  line-height: 1.3;
}

.main-content-container__project-card--action-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
}

.main-content-container__project-card--action {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-items: end;
}

/* aside styling */

.main-sidebar-container {
  width: 320px;
}

.main-sidebar-primary-announcement__content-container {
  background-color: var(--white);
  padding: 2em 1.75em;
  border-radius: 8px;
}

.main-sidebar-primary-announcement__content {
  margin-bottom: 1em;
  padding-top: 1em;
}

.main-sidebar-primary-announcement__content:first-child {
  padding-top: 0;
}

.main-sidebar-primary-announcement__content:last-child {
  margin-bottom: 0;
}

.main-sidebar-primary-announcement__content + .main-sidebar-primary-announcement__content {
  border-top: 2px solid var(--lightGray);
}

.main-sidebar-primary-announcement__content--h5 {
  font-weight: 500;
  margin-bottom: .35em;
}

.main-sidebar-primary-announcement__content--para {
  color: var(--darkGray);
  line-height: 1.3;
}

.main-sidebar-secondary-container {
  margin-top: 3em;
  margin-bottom: 4em;
}

.main-sidebar-secondary__content-trending-user-info-container {
  background-color: var(--white);
  padding: 1.5em 1.25em;
  border-radius: 8px;
}

.main-sidebar-secondary__content-trending-user-info {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  margin-top: 1.25em;
}

.main-sidebar-secondary__content-trending-user-info:first-child {
  margin-top: 0;
}

.main-sidebar-secondary__content-trending-user-info--user-intro-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}

.avatar-container__blue-bg {
  background-color: var(--lightBlue);
}

.avatar-container__gray-bg {
  background-color: var(--darkGray);
}

.avatar-container__pink-bg {
  background-color: var(--pink);
}

.main-sidebar-secondary__content-trending-user-info--user-name {
  font-weight: 500;
}

.main-sidebar-secondary__content-trending-user-info--user-intro {
  color: var(--darkGray);
  text-transform: capitalize;
}

/* aside styling */

/* main styling */
