:root {
  --white: rgb(255, 255, 255);
  --black: rgb(17, 17, 17);
  --lightBlue: rgb(25, 146, 212);
  --lightBlueLightOpacity: rgba(25, 146, 212, 0.807); 
  --goldenYellow: rgb(240, 180, 41);
  --lightGray: rgb(226, 232, 240);
  --darkGray: rgb(138, 138, 138);
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header,
.main {
  grid-column: 2 / -1;
}

.nav {
  grid-row: 1 / span 2;
  background-color: var(--lightBlue);
  color: var(--white);
}

.avatar {
  background-color: var(--goldenYellow);
  border-radius: 100px;
  padding: .5em;
  width: 100px;
  height: 100px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--lightBlue);
  border: 2px solid var(--lightBlue);
  border-radius: 100px;
  color: var(--white);
  padding: .5em 1.5em;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: .45px;
  font-size: .95rem;
}

.btn:focus,
.btn:hover {
  border: 2px solid var(--goldenYellow);
  box-shadow: 2px var(--goldenYellow);
  background-color: var(--goldenYellow);
  color: var(--black);
}

/* header styling */
.header {
  background-color: var(--white);
  padding: 1.5em 2.5em;
}

.header-container-primary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-container-primary__search {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}

.header-container-primary__search--input {
  border-radius: 50px;
  border: 2px solid var(--lightGray);
  background-color: var(--lightGray);
  padding: 0.25em 1em;
}

.header-container-primary__user-wrapper {
  margin-left: auto;
}

.header-container-primary__user {
  display: grid;
  grid-template-columns: 50px 70px 1fr;
  align-items: center;
  justify-content: end;
}

.header-container-primary__user--avatar {
  width: 30px;
  height: 30px;
}

.header-container-primary__user--name {
  font-weight: 700;
  letter-spacing: .5px;
}

.header-container-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-container-secondary__user {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  gap: 15px;
}

.header-container-secondary__action {
  justify-self: end;
  align-self: center;
}

.header-container-secondary__user--avatar {
  width: 60px;
  height: 60px;
}

.header-container-secondary__user--welsome-msg {
  font-weight: bold;
  letter-spacing: .5px;
}

.header-container-secondary__user--welsome-msg-greeting {
  font-size: 0.85rem;
  display: block;
  margin-bottom: .7em;
}

.header-container-secondary__user--welsome-msg-user-name {
  font-size: 1.25rem;
}

.header-container-secondary__action-btn-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* header styling */


/* nav styling */

.nav-container {
  padding: 1.5em; /*45px*/
}

.nav-container__head {
  display: grid;
  grid-template-columns: 60px 1fr;
}

.nav-container__icon {
  width: 35px;
}

.nav-container__h1 {
  font-size: 1.5rem;
  align-self: center;
}

.nav-container__ul--primary {
  margin: 2em 0;
}

.nav-container__ul--primary__list-item,
.nav-container__ul--secondary__list-item {
  font-weight: 500;
  font-size: 1.1rem;
  padding: .5em 0;
}

.nav-container__ul--primary__list-item__link,
.nav-container__ul--secondary__list-item__link {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.nav-container__ul--primary__list-item__link:focus,
.nav-container__ul--secondary__list-item__link:focus {
  outline: 2px solid var(--goldenYellow);
}

/* nav styling */
