:root {
  --white: rgb(255, 255, 255);
  --black: rgb(17, 17, 17);
  --lightBlue: rgb(25, 146, 212);
  --goldenYellow: rgb(240, 180, 41);
  --lightGray: rgb(226, 232, 240);
  --darkGray: rgb(138, 138, 138);
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.header,
.main {
  grid-column: 2 / 4;
}

.nav {
  grid-row: 1 / span 4;
  background-color: var(--lightBlue);
  color: var(--white);
}

.avatar {
  width: 100px;
  height: 100px;
}

img {
  display: block;
}

.nav-container {
  background-color: var(--lightBlue);
  color: var(--white);
}
